@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<footer class="bg-light border-top mt-4 py-3">
    <div class="container">
        <div class="row text-center text-md-start">
            <!-- Left side -->
            <div class="col-md-6">
                <p class="mb-0">
                    © 2019 - @DateTime.Now.Year | Digital Marketing Management System v1.2
                </p>
            </div>

            <!-- Right side -->
            <div class="col-md-6 text-md-end">
                <p class="mb-0">
                    2.1.1
@*                     Release Version: @System.Reflection.Assembly
                        .GetExecutingAssembly()
                        .GetName()
                        .Version *@
                </p>
            </div>
        </div>
    </div>
</footer>